<section id="about-me" class="view-panel about">
  <div class="about-wrapper">
    <div class="panel-content">

      <h2 class="panel-header">About Me</h3>
      <div class="row">
        <div class="col-xs-12 col-md-6 intro-text">
          <p class="lead">
            Hi there! <br>
            My name is Bryan Summers and I'm an aspiring web developer based in Perth, Australia. Having completed a coding bootcamp in Sydney last year I am now honing my front-end skills in my own time. Dedicated to responsive design I am focusing on CSS, JS &amp; jQuery to build projects that work across all devices. In my free time I am also working through the Free Code Camp track.
          </p>
        </div>
        <div class="col-xs-12 col-md-6 intro-image">
          <img src="assets/img/web-trifecta-html5-css3-js.png" alt="Trio of front-end logos" class="img-responsive"/>
        </div>
      </div>
    </div>
  </div>
</section>
