<div id="bbc-modal" class="modal-container">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div class="my-modal">
      <a href="#close" title="Close" class="close-icon">X</a>
      <h2 class="modal-heading">BBC Clone</h2>
      <hr class="modal-hr"/>
      <p class="modal-copy">For this project I duplicated the homepage of the BBC News website. Working on a direct duplication of the desktop version of the site involved a heavy use of CSS code. I also used SASS as a pre-processor to write more efficient and 'DRY' code.</p>
      <h3 class="modal-sub-header">Tech Used</h3>
      <ul class="modal-tech">
        <li>CSS</li>
        <li>SCSS</li>
        <li>HTML5 Markup</li>
      </ul>
      <h3 class="modal-cta">Click the image to view the full project</h3>
      <a href="bbc-site.CSS/bbc.html" target="_blank"><img src="assets/img/bbc-modal-thumbnail.png" alt="Thumbanil of BBC clone site" class="modal-thumbnail"/></a>
    </div> <!-- .modal -->
  </div>
</div> <!-- .modal-container -->
