<div id="busby-modal" class="modal-container">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div class="my-modal">
      <a href="#close" title="Close" class="close-icon">X</a>
      <h2 class="modal-heading">Tribute to the Busby Babes</h2>
      <hr class="modal-hr"/>
      <p class="modal-copy">This tribute page is part of the Free Code Camp front-end certification. Embracing agile methodologies, this project had two main user stories.</p>

        <p class="modal-copy"><strong>User Story:</strong> I can view a tribute page with an image and text.</p>
        <p class="modal-copy"><strong>User Story:</strong> I can click on a link that will take me to an external website with further information on the topic.</p>

      <h3 class="modal-sub-header">Tech Used</h3>
      <ul class="modal-tech">
        <li>HTML5</li>
        <li>CSS</li>
        <li>Bootstrap</li>
      </ul>
      <h3 class="modal-cta">Click the image to view the full project</h3>
      <a href="https://codepen.io/bsummersgb/full/yJGZOX/" target="_blank"><img src="assets/img/busby-babes-modal-thumbnail.png" alt="Thumbanil of Tribute page" class="modal-thumbnail"/></a>
    </div> <!-- .modal -->
  </div>
</div> <!-- .modal-container -->
