<footer>
  <section  id="contact-me" class="view-panel contact">
    <div class="panel-content">

      <h2 class="panel-header">Contact Me</h2>
      <form class="contact-form" action="http://formspree.io/bsummersgb@gmail.com" method="post">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-push-6">
            <img id="profile-pic" src="/assets/img/profile-pic.png" alt="Profile Photo" class="img-responsive" />
            <p class="contact-icons">
              <a href="https://github.com/bsummersgb" target="_blank"><i class="fa fa-github contact-icon"></i></a>
              <a href="https://au.linkedin.com/in/bryan-summers-645272aa" target="_blank"><i class="fa fa-linkedin contact-icon"></i></a>
              <a href="mailto:bsummersgb@gmail.com" target="_blank"><i class="fa fa-envelope contact-icon"></i></a>
            </p>

          </div>
          <div class="col-xs-12 col-md-6 col-md-pull-6">
            <p class="form-item">
              <label for="name">Name</label>
              <input type="text" name="name" value="">
            </p>
            <p class="form-item">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" />
            </p>
            <p class="form-item">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="8"></textarea>
            </p>
            <p>
              <button type="submit" class="submit-btn">Send</button>
            </p>
          </div>

        </div> <!-- .row -->
      </form>
    </div> <!-- .panel-content -->
  </section>
  <p class="copyright">Bryan Summers &copy; 2016. All Rights Reserved</p>
</footer>
