<section id="my-works" class="view-panel">
  <div class="panel-content">
    <h2 class="panel-header">My Works</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#bbc-modal"><img src="assets/img/bbc-thumbnail.png" class="portfolio-thumb img-responsive" /></a>
        {% include bbc-modal.html %}
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#busby-modal"><img src="assets/img/busby-babes-thumbnail.png" class="portfolio-thumb img-responsive" /></a>
        {% include busby-modal.html %}
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#weather-modal"><img src="assets/img/outside-thumbnail.png" class="portfolio-thumb img-responsive" /></a>
        {% include weather-modal.html %}
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#postcoder-modal"><img src="assets/img/postcoder-thumbnail.png" class="portfolio-thumb img-responsive" /></a>
        {% include postcode-modal.html %}
      </div>
    </div>
  </div>
</section>
