<div id="postcoder-modal" class="modal-container">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div class="my-modal">
      <a href="#close" title="Close" class="close-icon">X</a>
      <h2 class="modal-heading">Find My PostCode</h2>
      <hr class="modal-hr"/>
      <p class="modal-copy">By making a call to the Google Maps Geolocation API, I was able to develop a simple postcode finder application.</p>
      <h3 class="modal-sub-header">Tech Used</h3>
      <ul class="modal-tech">
        <li>PHP</li>
        <li>JavaScript &amp; jQuery</li>
        <li>AJAX</li>
        <li>Google Maps API</li>
        <li>XML</li>
      </ul>
      <h3 class="modal-cta">Click the image to view the full project</h3>
      <a href="http://bryansummers.com/apis/postcoder.php" target="_blank"><img src="assets/img/postcoder-modal-thumbnail.png" alt="Thumbanil of PostCoder" class="modal-thumbnail"/></a>
    </div> <!-- .modal -->
  </div>
</div> <!-- .modal-container -->
