---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*@charset "utf-8";

// Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
//
// $spacing-unit:     30px;
//
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
//
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
// @import "minima";*/

/* General */

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

a, a:hover, a:visited {
  color: inherit;
}

h1 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
}

h2 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  line-height: 19.4px;
}

h3 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  line-height: 15.4px;
}

p, li {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-weight: 200 !important;
  font-style: normal;
  font-variant: normal;
  line-height: 20px;
}

/* Functionality and aesthetic of #nav-toggle menu icon */

#nav-toggle {
  position: relative;
}

#nav-toggle span {
  position: fixed;
}

#nav-toggle span span, #nav-toggle span span:before, #nav-toggle span span:after {
  position: absolute;
  display: block;
  width: 35px;
  height: 5px;
  content: '';
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  background: #fff;
      -ms-border-radius: 1px;
       -o-border-radius: 1px;
}

#nav-toggle span, #nav-toggle span span {
  z-index: 1000;
  top: 5%;
  right: 5%;
}

#nav-toggle span span:before {
  top: -10px;
}

#nav-toggle span span:after {
  bottom: -10px;
}

#nav-toggle span span, #nav-toggle span span:before, #nav-toggle span span:after {
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
       -o-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

#nav-toggle.active span span {
  background-color: transparent;
}

#nav-toggle.active span span:before, #nav-toggle.active span span:after {
  top: 0;
}

#nav-toggle.active span span:before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span span:after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Functionality of collapsable menu */

.left-col {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: transform .6s ease;
     -moz-transition: transform .6s ease;
      -ms-transition: transform .6s ease;
       -o-transition: transform .6s ease;
          transition: transform .6s ease;
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
  text-align: center;
          opacity: .95;
  background: #222;
  -webkit-opacity: .95;
     -moz-opacity: .95;
      -ms-opacity: .95;
       -o-opacity: .95;
}

.left-col.open {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}

nav li {
  list-style: none;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation ul a {
  font-size: 2.8rem;
  display: block;
  padding: 30px 30px;
          text-decoration: none;
  color: #fff;
  -webkit-text-decoration: none;
     -moz-text-decoration: none;
      -ms-text-decoration: none;
       -o-text-decoration: none;
}

.main-navigation ul a.active {
  -webkit-box-shadow: inset -3px 0 0 0 white;
     -moz-box-shadow: inset -3px 0 0 0 white;
          box-shadow: inset -3px 0 0 0 white;
      -ms-box-shadow: inset -3px 0 0 0 white;
       -o-box-shadow: inset -3px 0 0 0 white;
}

.main-navigation {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* view-panel */

.view-panel {
  min-height: 100vh;
}

.panel-header {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.9rem;
  position: relative; /* Must be explicitly set so that the pseudo after element is absolutely positioned realtive to its <h2> parent */
  margin-bottom: 3.9rem;
}

.panel-header:after {
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 2.827rem;
  height: 3px;
  content: '';
  background-color: #003459;
}

.panel-content {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.2rem;
  width: 100%;
  max-width: 1100px;
  padding: 5%;
}

/* About panel */

.about {
  position: relative;
  color: #fff;
  background: url('/assets/img/my-desk.jpg') 50% / cover;
}

.about-wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 23, 31, .4);
}

.intro-image img {
  margin: 0 auto;
}

/* Portfolio Panel */

#my-works {
  background: url('/assets/img/grey-subtle-old-paper.png') 0 0 repeat;
  -webkit-box-shadow: inset 0 0 14px 14px rgba(0, 0, 0, .4);
     -moz-box-shadow: inset 0 0 14px 14px rgba(0, 0, 0, .4);
          box-shadow: inset 0 0 14px 14px rgba(0, 0, 0, .4);
      -ms-box-shadow: inset 0 0 14px 14px rgba(0, 0, 0, .4);
       -o-box-shadow: inset 0 0 14px 14px rgba(0, 0, 0, .4);
}

.portfolio-thumb {
  display: block;
  margin: 5% auto;
  padding: .5rem;
  -webkit-transition: .3s all;
     -moz-transition: .3s all;
      -ms-transition: .3s all;
       -o-transition: .3s all;
          transition: .3s all;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(0, 0, 0, .2);
  -webkit-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .3);
     -moz-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .3);
          box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .3);
      -ms-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .3);
       -o-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .3);
}

.portfolio-thumb:hover {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 6px 6px 8px 8px rgba(0, 0, 0, .3);
     -moz-box-shadow: 6px 6px 8px 8px rgba(0, 0, 0, .3);
          box-shadow: 6px 6px 8px 8px rgba(0, 0, 0, .3);
      -ms-box-shadow: 6px 6px 8px 8px rgba(0, 0, 0, .3);
       -o-box-shadow: 6px 6px 8px 8px rgba(0, 0, 0, .3);
}

/* Modals: Style and Functionality */

.modal-container {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
  -webkit-transition: opacity 400ms ease-in;
     -moz-transition: opacity 400ms ease-in;
          transition: opacity 400ms ease-in;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, .8);
}

.modal-container:target {
  pointer-events: auto;
  opacity: 1;
}

.my-modal {
  position: absolute;
  z-index: 1001;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #aaa);
  background: -webkit-linear-gradient(#fff, #aaa);
  background: -o-linear-gradient(#fff, #aaa);
}

.modal-hr {
  border-top: 1px solid #ccc;
}

.modal-cta {
  font-weight: bold;
  text-align: center;
}

.modal-thumbnail {
  display: block;
  width: 90%;
  margin: 5% auto;
  box-shadow: 10px 5px 5px #aaa;
}

.close-icon {
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: -10px;
  right: -12px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  background: #00a8e8;
  -webkit-box-shadow: 1px 1px 3px #000;
     -moz-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
}

.close-icon:hover {
          text-decoration: none;
  background: #007ea7;
  -webkit-text-decoration: none;
     -moz-text-decoration: none;
      -ms-text-decoration: none;
       -o-text-decoration: none;
}

/* Contact Panel */

.contact {
  color: white;
}

.form-item {
  margin-bottom: 2rem;
}

.form-item label {
  /* places the label above the form fields  */
  font-size: 1.414rem;
  display: block;
  margin-bottom: .5rem;
}

.form-item input, .form-item textarea {
  font-size: 2rem;
  font-weight: 300;
  display: block;
  width: 100%;
  padding: .5rem;
  -webkit-transition: .3s all;
     -moz-transition: .3s all;
      -ms-transition: .3s all;
       -o-transition: .3s all;
          transition: .3s all;
  letter-spacing: .1rem;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(0, 0, 0, .2);
  /* Delays the focus of the new styles after clicking on the field */
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
     -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
      -ms-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
       -o-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
}

.form-item input:focus, .form-item textarea:focus {
  /* Makes background completely opaque on focus */
  border: 1px solid rgba(255, 255, 255, .6);
  /* Gives field a subtle visual internal border on focus. This is useful after the default blue outline is removed */
  outline: 0;
  background: rgba(0, 0, 0, 1);
  /* Short-hand for outline width, style, color of the outline on focus (in same fashion as border property) */
}

.form-item input {
  line-height: 2rem;
}

.submit-btn {
  font-size: 2rem;
  float: right;
  padding: 1.5rem 3rem;
  cursor: pointer;
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
  border: 1px solid rgba(255, 255, 255, .6);
  background: #003459;
  -webkit-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 2px 2px 2px 2px rgba(0, 0, 0, .3);
     -moz-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 2px 2px 2px 2px rgba(0, 0, 0, .3);
          box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 2px 2px 2px 2px rgba(0, 0, 0, .3);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
      -ms-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 2px 2px 2px 2px rgba(0, 0, 0, .3);
       -o-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 2px 2px 2px 2px rgba(0, 0, 0, .3);
}

.submit-btn:hover {
  -webkit-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, .4), 2px 2px 2px 2px rgba(0, 0, 0, .3);
     -moz-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, .4), 2px 2px 2px 2px rgba(0, 0, 0, .3);
          box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, .4), 2px 2px 2px 2px rgba(0, 0, 0, .3);
      -ms-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, .4), 2px 2px 2px 2px rgba(0, 0, 0, .3);
       -o-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, .4), 2px 2px 2px 2px rgba(0, 0, 0, .3);
}

#profile-pic {
  display: block;
  max-width: 75%;
  margin: 0 auto;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, .5));
     -moz-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, .5));
      -ms-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, .5));
       -o-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, .5));
          filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, .5));
  /*filter: url(#drop-shadow);*//*-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#fff')";*//*filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#fff')";*/
}

.contact-icons {
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
}

.contact-icon {
  margin: 2% 2.5%;
  -webkit-transition: .3s all;
     -moz-transition: .3s all;
      -ms-transition: .3s all;
       -o-transition: .3s all;
          transition: .3s all;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.contact-icon:hover {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
  drop-shadow: 6px 6px 8px 8px rgba(0, 0, 0, .3);
}

/* Footer */

footer {
  background: url('http://www.free-patterns.info/wp-content/uploads/2015/04/dark-triangles-mixed-wall-v1631520.png') 0 0 repeat;
}

.copyright {
  margin-bottom: 0;
  padding: .5rem;
  text-align: center;
          opacity: .5;
  color: white;
  background: black;
  -webkit-opacity: .5;
     -moz-opacity: .5;
      -ms-opacity: .5;
       -o-opacity: .5;
}

/* Desktop Styles */

@media (min-width: 980px) {
  #nav-toggle span {
    left: 100%;
  }

  .left-col {
    position: fixed;
    left: 200px;
    width: 200px;
    height: 100%;
            opacity: 1;
    background: #003459;
    -webkit-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 5px 0 23px rgba(0, 0, 0, .5);
       -moz-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 5px 0 23px rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 5px 0 23px rgba(0, 0, 0, .5);
    -webkit-opacity: 1;
       -moz-opacity: 1;
        -ms-opacity: 1;
         -o-opacity: 1;
        -ms-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 5px 0 23px rgba(0, 0, 0, .5);
         -o-box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .2), 5px 0 23px rgba(0, 0, 0, .5);
  }

  .main-navigation {
    left: 20%;
  }

  .main-navigation ul a {
    font-size: 2.5rem;
    padding: 17px 0 17px 30px;
    text-align: right;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
  }

  .right-col {
    padding-left: 200px;
  }

  .panel-header {
    font-size: 4.5rem;
  }

  .panel-header:after {
    bottom: -1.8rem;
    width: 4.8rem;
    height: 4px;
  }

  .contact-icon {
    margin: 5% 2%;
  }

  .form-item label {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
  }

  .copyright {
    font-size: 1.5rem;
  }/* Modals */

  .modal-heading {
    font-size: 2.4rem;
  }

  .modal-sub-header, .modal-cta {
    font-size: 1.7rem;
  }

  .modal-copy, .modal-tech li {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  .close-icon {
    font-size: 25px;
    line-height: 44px;
    top: -19px;
    right: -19px;
    width: 44px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
  }
}
